<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="src/leaflet.css"/>
<script src="src/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="src/style.css" />
<script type="text/javascript" src="src/slider.js"></script>

</head>
<body>
    <div id="map"></div>
    <div id="sliderBox">
        <div id="slider"></div>
    </div>


<script type="text/javascript" src="src/track.js"></script>
<script type="text/javascript">
    var map = L.map('map')
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; ' + mapLink,
            maxZoom: 18,
            }).addTo(map);

    map.setView([track[0][0], track[1][0]], 14);
    var polyline = L.polyline(track).addTo(map);
    var marker = L.circle([track[0][0], track[1][0]], 50,{
        color: 'red', fillColor: 'red'}
        ).addTo(map);
    console.log(marker)
    map.fitBounds(polyline.getBounds());

    // update text in infopanel
    var info = L.control();

    info.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'info');
      this.update();
      return this._div;
    };

    info.update = function (stats) {
      this._div.innerHTML = '<h4>Stats</h4>' +
      (stats ? '<b>' + stats.time + '</b>': 'Move the slider');
    };
    info.addTo(map);

</script>

</body>
</html>